{% extends 'base.html' %}
{% block content %}
<h2>Checkout</h2>
<div class="row">
  <div class="col-md-7">
    <form method="post">
      {{ form.hidden_tag() }}
      <div class="mb-3">{{ form.shipping_name.label }} {{ form.shipping_name(class_='form-control') }}</div>
      <div class="mb-3">{{ form.shipping_address.label }} {{ form.shipping_address(class_='form-control') }}</div>
      <div class="mb-3">{{ form.shipping_city.label }} {{ form.shipping_city(class_='form-control') }}</div>
      <div class="mb-3">{{ form.shipping_postal_code.label }} {{ form.shipping_postal_code(class_='form-control') }}</div>
      <div class="mb-3">{{ form.shipping_country.label }} {{ form.shipping_country(class_='form-control') }}</div>
      {{ form.submit(class_='btn btn-success') }}
    </form>
  </div>
  <div class="col-md-5">
    <h5>Order Summary</h5>
    <ul class="list-group mb-3">
      {% for item in items %}
      <li class="list-group-item d-flex justify-content-between lh-sm">
        <div>
          <h6 class="my-0">{{ item.product.title }} x {{ item.quantity }}</h6>
        </div>
        <span>${{ '%.2f'|format(item.product.price * item.quantity) }}</span>
      </li>
      {% endfor %}
      <li class="list-group-item d-flex justify-content-between">
        <span>Total</span>
        <strong>${{ '%.2f'|format(subtotal) }}</strong>
      </li>
    </ul>
    <div class="alert alert-info">Payment simulation: clicking Place Order will simulate payment and create the order.</div>
  </div>
</div>
{% endblock %}